<ion-row class=" bg-primary" style="margin: auto; width: 100vw; height: 50vh;">
  <button (click)="chat4A()" class="btn btn-warning" style="margin: auto; width: 100vw; height: 50vh; background-image: url('../../assets/chatA.jpeg'); background-size: cover; background-position: center; ">
    <div class="d-flex align-items-center justify-content-center" style="height: 100%">
      <div class="bg-danger bg-opacity-75 w-100 p-5">
        <h1 class="text-white fw-bold  ">PPS-4A</h1>
      </div>
    </div>
  </button>
</ion-row>

<ion-row class="bg-danger" style="margin: auto; width: 100vw; height: 50vh;">
  <button (click)="chat4B()" class="btn btn-warning" style="margin: auto; width: 100vw; height: 50vh; background-image: url('../../assets/chatb.jpg'); background-size: cover; background-position: center;">
    <div class="d-flex align-items-center justify-content-center" style="height: 100%">
      <div class="bg-primary  bg-opacity-75 w-100 p-5">
        <h1 class="text-white fw-bold">PPS-4B,</h1>
      </div>
    </div>
  </button>
</ion-row>


